name: Update Dependencies

on:
  schedule:
    - cron: "40 1 * * *"
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Install Packages
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            libssl-dev \
            zlib1g-dev \
            libbz2-dev \
            libreadline-dev \
            libsqlite3-dev \
            curl \
            git \
            libncursesw5-dev \
            xz-utils \
            tk-dev \
            libxml2-dev \
            libxmlsec1-dev \
            libffi-dev \
            liblzma-dev \
            libzstd-dev

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: "true"
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}

      - name: Setup ASDF
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47

      - name: Update Tools
        run: ./scripts/update-dependencies tools

      - name: Update Pomerium Dependencies
        run: ./scripts/update-dependencies pomerium

      - name: Generate
        run: make generate

      - name: Check for Changes
        id: git-diff
        run: |
          git config --global user.email "apparitor@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git diff --cached --exit-code || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: ${{ steps.git-diff.outputs.changed }} == 'true'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          author: GitHub Actions <apparitor@users.noreply.github.com>
          body: "This PR updates dependencies not managed by dependabot."
          branch: ci/update-core
          commit-message: "ci: update dependencies"
          delete-branch: true
          labels: ci
          title: "ci: update dependencies"
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
